.dark-high-contrast {
  --md-sys-color-primary: rgb(250 250 255);
  --md-sys-color-surface-tint: rgb(161 202 253);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(167 206 255);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-schemes-label-completed-operation: rgb(178, 241, 191);
  --md-schemes-message-success: rgb(48, 106, 67);
  --md-sys-color-secondary: rgb(255 250 247);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(249 193 114);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 249 249);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(255 182 213);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(17 20 24);
  --md-sys-color-on-background: rgb(225 226 232);
  --md-sys-color-surface: rgb(17 20 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(63 72 74);
  --md-sys-color-on-surface-variant: rgb(243 252 254);
  --md-sys-color-outline: rgb(195 204 206);
  --md-sys-color-outline-variant: rgb(195 204 206);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 226 232);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 43 78);
  --md-sys-color-primary-fixed: rgb(217 232 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(167 206 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 23 46);
  --md-sys-color-secondary-fixed: rgb(255 226 192);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(249 193 114);
  --md-sys-color-on-secondary-fixed-variant: rgb(34 19 0);
  --md-sys-color-tertiary-fixed: rgb(255 222 234);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(255 182 213);
  --md-sys-color-on-tertiary-fixed-variant: rgb(50 2 30);
  --md-sys-color-surface-dim: rgb(17 20 24);
  --md-sys-color-surface-bright: rgb(54 57 62);
  --md-sys-color-surface-container-lowest: rgb(11 14 19);
  --md-sys-color-surface-container-low: rgb(25 28 32);
  --md-sys-color-surface-container: rgb(29 32 36);
  --md-sys-color-surface-container-high: rgb(39 42 47);
  --md-sys-color-surface-container-highest: rgb(50 53 58);
  --md-extended-color-custom-color1-color: rgb(234 255 254);
  --md-extended-color-custom-color1-on-color: rgb(0 0 0);
  --md-extended-color-custom-color1-color-container: rgb(132 217 216);
  --md-extended-color-custom-color1-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color2-color: rgb(255 249 249);
  --md-extended-color-custom-color2-on-color: rgb(0 0 0);
  --md-extended-color-custom-color2-color-container: rgb(255 183 203);
  --md-extended-color-custom-color2-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color3-color: rgb(239 255 238);
  --md-extended-color-custom-color3-on-color: rgb(0 0 0);
  --md-extended-color-custom-color3-color-container: rgb(155 217 169);
  --md-extended-color-custom-color3-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color4-color: rgb(251 255 198);
  --md-extended-color-custom-color4-on-color: rgb(0 0 0);
  --md-extended-color-custom-color4-color-container: rgb(201 209 126);
  --md-extended-color-custom-color4-on-color-container: rgb(0 0 0);
}
