.light-medium-contrast {
  --md-sys-color-primary: rgb(21 69 113);
  --md-sys-color-surface-tint: rgb(55 97 142);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(78 119 166);
  --md-schemes-label-completed-operation: rgb(178, 241, 191);
  --md-schemes-message-success: rgb(48, 106, 67);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(93 60 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(153 108 38);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(105 47 76);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(162 96 127);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(248 249 255);
  --md-sys-color-on-background: rgb(25 28 32);
  --md-sys-color-surface: rgb(248 249 255);
  --md-sys-color-on-surface: rgb(25 28 32);
  --md-sys-color-surface-variant: rgb(219 228 230);
  --md-sys-color-on-surface-variant: rgb(59 68 70);
  --md-sys-color-outline: rgb(87 97 98);
  --md-sys-color-outline-variant: rgb(115 124 126);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(46 49 53);
  --md-sys-color-inverse-on-surface: rgb(239 240 247);
  --md-sys-color-inverse-primary: rgb(161 202 253);
  --md-sys-color-primary-fixed: rgb(78 119 166);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(52 94 140);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(153 108 38);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(125 84 13);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(162 96 127);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(134 72 102);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(216 218 224);
  --md-sys-color-surface-bright: rgb(248 249 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(242 243 250);
  --md-sys-color-surface-container: rgb(236 238 244);
  --md-sys-color-surface-container-high: rgb(230 232 238);
  --md-sys-color-surface-container-highest: rgb(225 226 232);
  --md-extended-color-custom-color1-color: rgb(0 75 75);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(35 129 129);
  --md-extended-color-custom-color1-on-color-container: rgb(255 255 255);
  --md-extended-color-custom-color2-color: rgb(107 47 68);
  --md-extended-color-custom-color2-on-color: rgb(255 255 255);
  --md-extended-color-custom-color2-color-container: rgb(166 95 118);
  --md-extended-color-custom-color2-on-color-container: rgb(255 255 255);
  --md-extended-color-custom-color3-color: rgb(15 77 41);
  --md-extended-color-custom-color3-on-color: rgb(255 255 255);
  --md-extended-color-custom-color3-color-container: rgb(71 129 87);
  --md-extended-color-custom-color3-on-color-container: rgb(255 255 255);
  --md-extended-color-custom-color4-color: rgb(65 71 0);
  --md-extended-color-custom-color4-on-color: rgb(255 255 255);
  --md-extended-color-custom-color4-color-container: rgb(114 121 49);
  --md-extended-color-custom-color4-on-color-container: rgb(255 255 255);
}
