ion-menu {
  --min-width: 100%;
}

ion-header {
  display: flex;
  background-color: var(--ion-app-header);
  color: var(--md-sys-color-on-primary);
  min-width: 23.125rem;

  &.online {
    background-color: var(--ion-app-header);
  }

  &.offline {
    background-color: var(--ion-app-background-offline);
  }
}

ion-title {
  font-size: 1.575rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.015rem;
  text-align: center;
  flex: auto;
}

ion-buttons[slot='start'] {
  color: var(--md-sys-color-on-primary);
}

button {
  background: transparent;

  & mat-icon[data-icon='arrow-back-ios'] {
    margin-right: 1rem;
    color: var(--ion-text-color-button);
  }
}

ion-menu-toggle {
  padding-left: 1rem;
  padding-top: 1rem;
}

mat-icon[data-icon='arrow-back-ios'] {
  width: 1.5rem;
  height: 1.5rem;
}
